* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header, footer {
    text-align: center;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    background-color: hsla(160, 30%, 12%, 1);
}

h1 {
    font-size: 42px;
    color: hsla(120, 15%, 92%, 1);
}

header h3 {
    font-size: 20px;
    color: hsla(120, 10%, 70%, 1);
}